# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc.
*~
*#
*.root
*.log
*.pdf
*.txt
!txt/*/*txt
*.#*
.nfs000000000*
sftp-config.json

# LaTeX
*.tex
*.aux
